/* general rules */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.center{
  width: 80%;
  margin: 0 auto;
}

.row::after{
  content: "";
  display: table;
  clear: both;
}

/* HEADER RULES*/
header{
  margin-bottom: 25px;
  /* debug rules */
  height: 100px;
  background-color: pink;
}
/* MAIN */
/* JUMBOTRON */
.jumbotron{
  margin-bottom: 25px;
  /* debug rules*/
  height: 500px;
  background-color: #ffef6b;
}

/* CONTENT */
.title{
  margin-bottom: 25px;
  /* debug rules */
  height: 80px;
  background-color: lightblue;
}

.aside{
  float: left;
  /* debug rules */
  height: 500px;
  width: 20%;
  margin-right: 2%;
  background-color: lightblue;
}

.aside:last-child{
  margin-right: 0;
}

.content{
  float: left;
  /* debug rules */
  height: 500px;
  width: 56%;
  margin-right: 2%;
  margin-bottom: 25px;
  background-color: lightblue;
}